<% provide(:title, @title) %>
<h2><%= @heading %></h2>

<div id="thankyou-text">
	<p>
		<%= @text %>
	</p>
</div>

<hr>
<%= link_to 'Iscriviti con un altro numero', root_path, class: "btn btn-primary" %>