<header class="navbar navbar-fixed-top">
<!-- <div id="tomhead" class="navbar navbar-fixed-top"> -->
  <div class="navbar-inner">
      <h2 id="tom_bar_left"><%= yield(:title) %></h2>
      <!-- <nav>
        <ul class="nav pull-right">
          <li></li>
        </ul>
      </nav> -->

  </div>
<!-- </div> -->
</header>